swagger: "2.0"
schemes:
  - https
host: api.utrust.com
basePath: /
info:
  description: |
    JSON HTTP API for Merchants with an UTRUST store account

    # Authentication

    UTRUST offers JSON Web Tokens (JWT) authentication. We call our resource
    for generating JWT [Sessions](#tag/Session) or [Store
    Sessions](#tag/Store-Session) for the Stores.
    <!-- ReDoc-Inject: <security-definitions> -->
  version: "1.0.0"
  title: "UTRUST Merchant API"
  contact:
    email: "apiteam@utrust.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "https://s2.coinmarketcap.com/static/img/coins/200x200/2320.png"
externalDocs:
  description: Check out the repo
  url: "https://github.com/utrustdev/merchant-api-spec"
produces:
  - application/vnd.api+json
consumes:
  - application/vnd.api+json

tags:
  - name: "Store Order"
  - name: "Store Session"
  - name: "Session"
  - name: "Account"
  - name: "Payment"
  - name: "Order"
  - name: "MultiFactor"

x-tagGroups:
  - name: Stores API
    tags:
      - "Store Order"
      - "Store Session"
  - name: Authentication
    tags:
      - "Session"
      - "Account"
      - "MultiFactor"
  - name: Orders
    tags:
      - "Order"

securityDefinitions:
  JWT:
    type: "apiKey"
    in: "header"
    name: "Authorization: Bearer <token>"
    description: "You can create a JSON Web Token (JWT) via our Sessions resource"

security:
  - JWT: []

headers:
  cursorParam:
    in: query
    name: cursor
    description: "Specifies where to start fetching data from"
    type: string
  limitParam:
    in: query
    name: limit
    description: "The maximum number of results to return per call"
    type: integer
    minimum: 1
    maximum: 100
    default: 100

