swagger: "2.0"
schemes:
  - https
host: api.utrust.com
basePath: /
info:
  description: |
    The UTRUST API is organized around
    [REST](https://en.wikipedia.org/wiki/Representational_state_transfer),
    particularly using the [JSON:API spec](https://jsonapi.org/). Our API has
    resource-oriented URLs, returns JSON responses and uses standard HTTP
    response codes and verbs.

    You can use the UTRUST API with a sanbox account, which does not affect
    your live data or interact with the main nets. The API credentials you use
    to generate a session token determines wether the request is in production
    or sandbox mode.

    # Authentication

    UTRUST offers JSON Web Tokens (JWT) authentication. We call our resource
    for generating JWT [Sessions](#tag/Session) or [Store
    Sessions](#tag/Store-Session) for the Stores.

    <!-- ReDoc-Inject: <security-definitions> -->

    You can find the credentials needed in the merchant dashboard of the
    environment you wish to use. These credentials will grant many priviliges
    within your UTRUST account, so be sure to keep them secure! Do not share
    them in publicly accessible areas such as GitHUB, client-side code, and so
    on.

    All API request must be made over HTTPS and with authentication.

    # Stores vs Merchant API

    The UTRUST API is divided into two separate use cases, the [Stores
    API][#tag/Store-Order] which provides endpoints to be used by plugins or
    other integrations with your store.

    The Merchants API is comprised by all the endpoints we use to power our
    Merchant dashboard. You make them public so that you can integrate with
    your own system as you please, but we do recommend using our dashboard as
    much as possible, as we'll be sure to keep it up to date and as useful as
    possible.
  version: "1.0.0"
  title: "UTRUST Merchant API"
  contact:
    email: "apiteam@utrust.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "https://s2.coinmarketcap.com/static/img/coins/200x200/2320.png"
externalDocs:
  description: Check out the repo
  url: "https://github.com/utrustdev/merchant-api-spec"
produces:
  - application/vnd.api+json
consumes:
  - application/vnd.api+json

tags:
  - name: "Store Order"
  - name: "Store Session"
  - name: "Session"
  - name: "Account"
  - name: "Order"
  - name: "MultiFactor"

x-tagGroups:
  - name: Stores API
    tags:
      - "Store Order"
      - "Store Session"
  - name: Authentication
    tags:
      - "Session"
      - "Account"
      - "MultiFactor"
  - name: Orders
    tags:
      - "Order"

securityDefinitions:
  JWT:
    type: "apiKey"
    in: "header"
    name: "Authorization: Bearer <token>"
    description: "You can create a JSON Web Token (JWT) via our Sessions resource"

security:
  - JWT: []

headers:
  cursorParam:
    in: query
    name: cursor
    description: "Specifies where to start fetching data from"
    type: string
  limitParam:
    in: query
    name: limit
    description: "The maximum number of results to return per call"
    type: integer
    minimum: 1
    maximum: 100
    default: 100
