{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "utrust.com",
  "basePath": "/api",
  "info": {
    "description": "JSON HTTP API for Merchants with an UTRUST user account.",
    "version": "1.0.0",
    "title": "UTRUST Merchant API",
    "contact": {
      "email": "apiteam@utrust.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://s2.coinmarketcap.com/static/img/coins/200x200/2320.png"
    }
  },
  "externalDocs": {
    "description": "Check out the repo",
    "url": "https://github.com/utrustdev/merchant-api-spec"
  },
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "tags": [
    {
      "name": "order"
    }
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    },
    "basic_auth": {
      "type": "basic"
    }
  },
  "paths": {
    "/orders": {
      "post": {
        "tags": [
          "order"
        ],
        "summary": "Create an order",
        "description": "Create a new order for payment processing. Returns a url to a page where a buyer can fulfill the payment for that order.",
        "operationId": "createOrder",
        "parameters": [
          {
            "in": "body",
            "name": "order",
            "description": "The order information",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "order": {
                  "$ref": "#/definitions/Order"
                },
                "payment": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "UTK"
                    }
                  }
                },
                "customer": {
                  "$ref": "#/definitions/Customer"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Order created"
          }
        }
      }
    }
  },
  "definitions": {
    "Customer": {
      "type": "object",
      "properties": {
        "first_name": {
          "type": "string",
          "example": "John"
        },
        "last_name": {
          "type": "string",
          "example": "Doe"
        },
        "email": {
          "type": "string",
          "format": "email",
          "example": "john@example.com"
        },
        "address1": {
          "type": "string",
          "example": "118 Main St"
        },
        "address2": {
          "type": "string",
          "example": "7th Floor"
        },
        "city": {
          "type": "string",
          "example": "New York"
        },
        "state": {
          "type": "string",
          "example": "New York"
        },
        "postcode": {
          "type": "string",
          "example": "10001"
        },
        "country": {
          "type": "string",
          "example": "US"
        }
      }
    },
    "Order": {
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "example": "order-1"
        },
        "currency": {
          "type": "string",
          "example": "EUR"
        },
        "total": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "example": 100
        },
        "return_url": {
          "type": "string",
          "format": "url"
        },
        "line_items": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "sku": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "price": {
                "type": "integer",
                "example": 100
              },
              "currency": {
                "type": "string"
              },
              "quantity": {
                "type": "integer",
                "minimum": 1,
                "example": 1
              }
            }
          }
        }
      }
    }
  }
}
